body {
    width: 1600px;
    background: #80a8cc;
    font-family: "Amatic SC", "cursive";
    box-shadow: 1px 10px 1px #888888;
    text-align: center;
    --white: #FFF;
    --black: #4d4e59;
}

.header {
    height: 100px;
    background-color: #fcf9f4;
}

.header img {
    width: 145px;
    margin: 0 0 0 150px;
    display: inline-block;
    float: left;
}

ul {
    display: inline-block;
    color: #d8d6d5;
    font-size: 18px;
    padding-left: 0px;
    clear: both;
    margin-bottom: 0;
    margin-top: 0;
}

.header .header_nav {
    height: 100px;
    margin: 0 42px 0 -180px;
    border-left: 1px solid #eae7e2;
    border-right: 1px solid #eae7e2;
    font-family: "Open Sans";
}

.header .header_nav li {
    margin-top: 30px;
}

.header .header_nav li:first-child {
    margin-left: 42px;
}

.header .header_nav li:last-child {
    margin-right: 42px;
}

.header .header_nav li {
    display: inline-block;
    margin-left: 42px;
}

.header .header_btn {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #dad7d2;
    color: var(--black);
    background-color: #fcf9f4;
}

.container {
    background-color: var(--white);
}

.container .main {
    height: 794px;
    background: url("../images/hero.png") no-repeat;
    background-size: cover;
    margin-top: -21px;
    opacity: 0.8;
}

.container .main h1 {
    display: inline-block;
    margin-top: 300px;
    font-size: 60px;
}

.container .section {
    height: 700px;
    color: var(--white);
}

.container .black {
    color: var(--black);
}

.container .section .section_icon {
    width: 330px;
    height: 330px;
}

.container .section_description {
    clear: both;
    text-align: left;
}

.right {
    padding-right: 300px;
}

.left {
    padding-left: 300px;
}

.container .section p {
    margin-top: 32px;
}

.container .section h2 {
    margin-top: 170px;
}

.container .container_btn {
    margin-top: 32px;
    height: 60px;
    width: 300px;
    font-size: 24px;
}

.container .section_table li {
    display: inline-block;
    margin-left: 30px;
    border: solid 1px #eeece7;
    padding: 70px;
}

.container .section_table li:first-child {
    margin-left: 0px;
}

.container .section_table span {
    font-size: 72px;
}

.container_list {
    list-style: none;
}

.container_list .item {
    display: flex;
    list-style: none;
}

.container_list img {
    margin-top: 160px;
    margin-left: 312px;
    margin-right: 138px;
}

.footer {
    height: 100px;
    background-color: var(--black);
}

.footer .footer_content {
    display: inline-block;
    margin-top: 45px;
    color: #d4d2dD;
}

.btn-active {
    margin-left: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: "Amatic SC", "cursive";
}

.btn {
    display: inline-block;
    color: var(--white);
    border-radius: 5px;
    border: 1px solid #dad7d2;
}

p {
    font-size: 20px;
    font-family: "Open Sans";
}

h2 {
    margin-top: -20px;
}

.bg-yello {
    background-color: #ffcd62;
}

.bg-green {
    background-color: #91d0b1;
}

.bg-blue {
    background-color: #80a8cc;
}

.yello {
    color: #ffcd62;
}

.green {
    color: #91d0b1;
}

.blue {
    color: #80a8cc;
}

.shadow_yello {
    background-color: #eabc5b;
    border: none;
}

.shadow_green {
    background-color: #7db59a;
    border: none;
}

.shadow_blue {
    background-color: #6d91b1;
    border: none;
}

.transparent {
    background-color: transparent;
    font-family: "Amatic SC", "cursive";
}

.section_title {
    font-size: 52px;
}

.main_description {
    padding: 0 440px;
}








